.newsletter {
  padding-bottom: 136px;

  &__form {
    max-width: 500px;
    margin: 0 auto;
    position: relative;

    &--input {
      background: transparent;
      border: none;
      border-bottom: 1px solid $green-jussi;
      box-sizing: border-box;
      border-radius: 0;
      font-style: $normal;
      font-weight: $bold;
      font-size: $font-size-md;
      color: $white;
      padding: 0;
      height: 40px;
      line-height: 40px;
      width: 100%;

      &::-webkit-input-placeholder {
        color: $white;
      }

      &:-ms-input-placeholder {
        color: $white;
      }

      &::placeholder {
        color: $white;
      }
    }

    &--btn {
      @extend %btn-reset;
      font-style: $normal;
      font-weight: $extra-bold;
      font-size: $font-size-md;
      text-transform: uppercase;
      color: $green-jussi;
      cursor: pointer;
      position: absolute;
      right: 0;
    }
  }

  &__text {
    font-style: $normal;
    font-weight: $bold;
    font-size: $font-size-lg;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    display: flex;
    margin-bottom: 35px;

    @media screen and (max-width: $m) {
      font-size: $font-size-md;
    }

    span {
      color: $green-jussi;
      margin-right: 8px;
    }
  }
}
