// Fonte principal
$main-font: "Barlow", sans-serif;

// Tamanho de fontes
$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-md: 16px;
$font-size-lg: 32px;
$font-size-xlg: 64px;

// Peso de fonte
$normal: normal;
$bold: 500;
$extra-bold: 600;
