.header {
  @extend %container-big;

  @media screen and (min-width: $m) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__container {
    padding: 20px 24px;
    background-color: $white;
  }

  &__child {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $m) {
      &:first-child {
        padding: 0 0 20px;
      }
    }
  }

  &__menu {
    @media screen and (min-width: $m) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @media screen and (max-width: $m) {
      visibility: hidden;
      opacity: 0;
      position: fixed;
      right: 0;
      left: 0;
      top: 60px;
      z-index: 99999;
      padding: 24px;

      background-color: $white;
      border: 1px solid $grey;
      box-sizing: border-box;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
      border-radius: 0 0 8px 8px;

      transition: all 0.5s ease;
      transition: all 0.5s ease;
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
    }

    &--active {
      visibility: visible;
      opacity: 1;

      -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
      transform: translateY(10px);
    }

    &--mobile {
      @media screen and (min-width: $m) {
        display: none;
      }

      width: 24px;
      height: 24px;

      img {
        width: 100%;
      }
    }

    &--item {
      padding: 0 15px;

      @media screen and (max-width: $m) {
        padding: 15px;
      }
    }

    &--link {
      font-style: $normal;
      font-weight: $bold;
      font-size: $font-size-md;
      color: $black;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--item {
      padding: 0 15px;

      &:last-child {
        padding-right: 0;
      }
    }

    &--link {
      font-style: $normal;
      font-weight: $bold;
      font-size: $font-size-md;
      color: $black;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }
  }
}
