.search {
  position: relative;

  .huklGi > .wrapper {
    position: relative;
    box-shadow: none;
    border: none;

    * {
      border: none !important;
    }

    .igZibq > input {
      border: 1px solid $grey !important;
    }
  }

  .sc-bdVaJa {
    border: none;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    border-radius: 0 0 6px 6px;
    background-color: $white;
  }

  &__input,
  .igZibq > input {
    background: $white;
    border: 1px solid $grey;
    box-sizing: border-box;
    border-radius: 24px;
    font-style: $normal;
    font-weight: $bold;
    font-size: $font-size-md;
    color: $black;
    padding: 0 16px;
    height: 40px;
    line-height: 40px;

    &::-webkit-input-placeholder {
      color: $pink-jussi;
    }

    &:-ms-input-placeholder {
      color: $pink-jussi;
    }

    &::placeholder {
      color: $pink-jussi;
    }
  }

  &__alert {
    position: absolute;
    background-color: $white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    border-radius: 0 0 6px 6px;
    padding: 10px;
    font-size: $font-size-md;
    color: $pink-jussi;
  }

  &__btn {
    @extend %btn-reset;
    position: absolute;
    right: 16px;
    top: 7px;
    z-index: 999;
    cursor: pointer;
  }
}
