.search {
  position: relative;

  &__input {
    background: $white;
    border: 1px solid $grey;
    box-sizing: border-box;
    border-radius: 24px;
    font-style: $normal;
    font-weight: $bold;
    font-size: $font-size-md;
    color: $black;
    padding: 0 16px;
    height: 40px;
    line-height: 40px;

    &::-webkit-input-placeholder {
      color: $pink-jussi;
    }

    &:-ms-input-placeholder {
      color: $pink-jussi;
    }

    &::placeholder {
      color: $pink-jussi;
    }
  }

  &__btn {
    @extend %btn-reset;
    position: absolute;
    right: 16px;
    top: 7px;
    z-index: 999;
    cursor: pointer;
  }
}
