.banner {
  @extend %container;

  @media screen and (min-width: $m) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__container {
    padding: 20px 24px;
    background-color: $green-jussi;
  }

  &__child {
    &:first-child {
      max-width: 450px;
      display: flex;

      @media screen and (max-width: $m) {
        padding: 0 0 20px;
      }
    }
  }

  img {
    max-width: 100%;
  }

  h3 {
    font-style: $normal;
    font-weight: $bold;
    font-size: $font-size-xlg;
    text-transform: uppercase;
    color: $black;

    @media screen and (max-width: $m) {
      font-size: $font-size-lg;
    }
  }

  span {
    font-size: $font-size-xlg;
    color: $white;
    margin-right: 20px;
  }

  p {
    font-style: $normal;
    font-weight: $bold;
    font-size: $font-size-md;
    color: $black;
    margin: 16px 0;
  }

  &__link {
    @extend %secondary-button;
  }
}
