.tipBar {
  @extend %container;

  @media screen and (min-width: $m) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__container {
    padding: 20px 24px;
    background-color: $grey;
  }

  &__child {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:first-child {
      @media screen and (max-width: $m) {
        padding: 0 0 20px;
      }
    }

    &:last-child {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
    }

    a {
      padding: 0 24px;
      flex: 0 0 auto;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  img {
    max-width: 100%;
  }

  p {
    font-style: $normal;
    font-weight: $bold;
    font-size: $font-size-md;
    color: $black;
  }
}
