@import "./variables/all";
@import "./extends/container";
@import "./extends/buttons";
@import "./extends/titles";

// components
@import "./components/home/banner";
@import "./components/home/tipBar";
@import "./components/home/products";
@import "./components/home/about";
@import "./components/home/contact";
